<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.pigfarm">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".CheckScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Open_Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Event_main"
            android:screenOrientation="portrait" />

        <activity android:name=".ManageData_Page.MainActivity_ManageData"
            android:screenOrientation="portrait"/>
        <activity android:name=".about_activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Register"
            android:screenOrientation="portrait" />
        <activity android:name=".Report.Report_Home"
            android:screenOrientation="portrait" />
        <activity android:name=".Report.Report_Group"
            android:screenOrientation="portrait" />
        <activity android:name=".Report.Report_Status"
            android:screenOrientation="portrait" />
        <activity android:name=".Report.PigData_Report"
            android:screenOrientation="portrait" />
        <activity android:name=".Report.WebView_Report_Status" />
        <activity android:name=".Report.Report_History" />
        <activity android:name=".Settings.SettingsActivity"/>
        <activity android:name=".Report.WebView_Report_History"/>
        <activity android:name=".Report.Report_Main" />
        <activity android:name=".Report.Report_Power" />
        <activity android:name=".Report.Report_AllPerformance" />
        <activity android:name=".Report.WebView_AllPerformance" />
        <activity android:name=".ScanActivity"/>
        <activity android:name=".Report.WebView_BredderDad"/>
        <activity android:name=".Report.Report_BredderDad"/>
        <activity android:name=".Report.Report_GroupBredder"/>
        <activity android:name=".Report.WebView_GroupBredder"/>
        <activity android:name=".Report.WebView_Exclude"/>
        <activity android:name=".Report.Report_Exclude"/>
    </application>

</manifest>